<a href="https://colab.research.google.com/github/ParvezAlam-AI/python/blob/pythons_basics/Challenge_Data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nameinput = str(input("Enter your name: "))
ageainput = int(input("Enter your age: "))
nametype = type(nameinput)
agetype = type(ageainput)


message = "Then name is {} and age is {}".format(nameinput,ageainputjjjjj)
typemessage = "The type of the variable is name:{}, age: {} ".format(nametype,agetype)

print(message)
print(typemessage)

Enter your name: ranga
Enter your age: 50
Then name is ranga and age is 50
The type of the variable is name:<class 'str'>, age: <class 'int'>

# Challenge Data Structures

In [ ]:
k = 3

numbers =  [4, 9, 2, 7, 5, 1]
numbers.sort()
numbers[3]

5

In [ ]:
k = 3
numbers =  [4, 9, 2, 7, 5, 1]

def kth_largest(k):
    numbers.sort()
    return numbers[3]

print(kth_largest)

In [ ]:
k = 3
numbers =  [4, 9, 2, 7, 5, 1]

def kth_largest(k, numbers):
    numbers.sort(reverse=True)
    print(kth_largest[k-1])

kth_largest

In [ ]:
def myfun  (country):
    print("i am from" + country)

myfun("Sweden")

i am fromSweden

In [ ]:
a = 5
def myfun(x,a):
    return 5 * x +a

myfun(3, a+2)

22

In [ ]:
# my solution

k = 3
numbers =  [4, 9, 2, 7, 5, 1]

def k_largest(k,numbers):
    numbers.sort(reverse=True)
    return numbers[k-1]


k_largest(k,numbers)

5

In [ ]:
# dds solution

k = 3
numbers =  [4, 9, 2, 7, 5, 1]

def find_kth(numbers,k):
    numbers.sort(reverse=True)
    print(numbers[k-1])

find_kth(numbers,k)

5

# Challenge for Loops

In [ ]:
squares =[ x**2 for x in range(4,11)]
squares

[16, 25, 36, 49, 64, 81, 100]

In [ ]:
# my solution
for x in range(4,11):
    if x % 2 == 0:
      print(x)

4
6
8
10

In [ ]:
# dds solution

start = int(input("enter start range: "))
endrange = int(input("enter end range: "))

for x in range(start,endrange + 1):
    if x % 2 == 0:
      print(x, end= " ")

enter start range: 5
enter end range: 12
6 8 10 12

For example print first n (ask user Input) even numbers using the while loop in Python


#example



Enter a number of even numbers you want to see from start: 5

2, 4, 6,8,10

In [ ]:
start = int(input("Enter a number of even numbers you want to see: "))
x = 1
evencount = 0
while evencount < start :
    if x % 2 == 0:
      print(x)
      evencount += 1
    x += 1

Enter a number of even numbers you want to see: 5
2
4
6
8
10

In [ ]:
5