<a href="https://colab.research.google.com/github/ParvezAlam-AI/python/blob/pythons_basics/Day_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [1]:
import math

In [3]:
def pops(num1,num2,ops):
    if ops == 'sum':
        return num1 + num2
    if ops == 'multi':
        return num1 * num2

pops(2,3,'multi')

6

In [6]:
def oprs(num1, num2, ops = 'multi'):
    if ops == 'sum':
        return num1 + num2
    if ops == 'multi':
        return num1 * num2

oprs(3,4)

12

In [12]:
def opsarg(num1,num2, ops = 'sum', message = 'Default message'):
    print(message)
    if ops == 'sum':
        return num1 + num2
    if ops == 'multi':
        return num1 * num2


opsarg(4,5,ops = 'multi',message = 'a new message')

a new message

20

In [13]:
def pops(*args, **kwargs):
    print(args)
    print(kwargs)

pops(1,2,3,4,5, ops = 'sum')

(1, 2, 3, 4, 5)
{'ops': 'sum'}

In [17]:
def pos(*args, ops = 'sum'):
    if ops == 'sum':
        return sum(args)
    if ops == 'multi':
        return math.prod(args)

pos(1,2,3,6,7,8,9, ops = 'multi')

18144

global and local scope

In [19]:
message = 'a gloabl data'

def func(varA, varB):
    print(message)
    print(locals())

def func1(varC,vard):
    print(message)
    print(locals())

func(1,2)
func1(3,4)

a gloabl data
{'varA': 1, 'varB': 2}
a gloabl data
{'varC': 3, 'vard': 4}

In [20]:
2+3

5

In [21]:
(lambda x: x+3)(5)

8

In [23]:
mylist = [2,5,3,6,7]
sorted(mylist)

[2, 3, 5, 6, 7]

In [27]:
mylist  = [{'num':3},{'num',2},{'num',1}]

In [28]:
sorted(mylist, key=lambda x: x['num'])

TypeError: 'set' object is not subscriptable