<a href="https://colab.research.google.com/github/ParvezAlam-AI/python/blob/pythons_basics/Day_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [ ]:
import math

In [ ]:
def pops(num1,num2,ops):
    if ops == 'sum':
        return num1 + num2
    if ops == 'multi':
        return num1 * num2

pops(2,3,'multi')

6

In [ ]:
def oprs(num1, num2, ops = 'multi'):
    if ops == 'sum':
        return num1 + num2
    if ops == 'multi':
        return num1 * num2

oprs(3,4)

12

In [ ]:
def opsarg(num1,num2, ops = 'sum', message = 'Default message'):
    print(message)
    if ops == 'sum':
        return num1 + num2
    if ops == 'multi':
        return num1 * num2


opsarg(4,5,ops = 'multi',message = 'a new message')

a new message

20

In [ ]:
def pops(*args, **kwargs):
    print(args)
    print(kwargs)

pops(1,2,3,4,5, ops = 'sum')

(1, 2, 3, 4, 5)
{'ops': 'sum'}

In [ ]:
def pos(*args, ops = 'sum'):
    if ops == 'sum':
        return sum(args)
    if ops == 'multi':
        return math.prod(args)

pos(1,2,3,6,7,8,9, ops = 'multi')

18144

global and local scope

In [ ]:
message = 'a gloabl data'

def func(varA, varB):
    print(message)
    print(locals())

def func1(varC,vard):
    print(message)
    print(locals())

func(1,2)
func1(3,4)

a gloabl data
{'varA': 1, 'varB': 2}
a gloabl data
{'varC': 3, 'vard': 4}

In [ ]:
2+3

5

In [ ]:
(lambda x: x+3)(5)

8

In [ ]:
mylist = [2,5,3,6,7]
sorted(mylist)

[2, 3, 5, 6, 7]

In [1]:
mylist  = [{'num':3},{'num':2},{'num':1}]

In [2]:
sorted(mylist, key=lambda x: x['num'])

[{'num': 1}, {'num': 2}, {'num': 3}]

# Random and string

In [3]:
import random